@model List<AllService>
<div class="page-header">
    <div class="container">
        <div class="breadc-box no-line">
            <div class="row">
                <div class="col-md-6">
                    <h1 class="page-title">Icon Boxes</h1>
                </div>
                <div class="col-md-6 mobile-left text-right">
                    <ul id="breadcrumbs" class="breadcrumbs none-style">
                        <li><a href="index.html">Home</a></li>
                        <li class="active">Icon Boxes</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<section class="wpb_row row-fluid row-o-equal-height row-flex section-padd">
    <div class="container">
        <div class="row">

            @foreach (var icon in Model)
            {
                <div class="wpb_column column_container col-sm-6 col-md-4">
                    <div class="column-inner">
                        <div class="wpb_wrapper">
                            <div class="service-box icon-box ionic hover-box">
                                <i class="@icon.Icon"></i>
                                <div class="content-box">
                                    <h4>@icon.Header</h4>
                                    <p>@icon.Title</p>
                                    <a class="link-box pagelink" href="service-detail.html">Read more</a>
                                </div>
                            </div>

                            <div class="empty_space_30"></div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>